In [1]:

# ===============================
# 1. SERIES
# ===============================
import pandas as pd
import numpy as np

temperatures = pd.Series(
    [5, -3, 7],
    index=["Алматы", "Астана", "Шымкент"]
)

print("Temperatures:")
print(temperatures)

print("\nАлматы температурасы:")
print(temperatures["Алматы"])

print("\n0-ден жоғары қалалар:")
print(temperatures[temperatures > 0])


# ===============================
# 2. DATAFRAME (СТУДЕНТТЕР)
# ===============================

students = pd.DataFrame({
    "name": ["Aigerim", "Dias", "Miras", "Dana"],
    "age": [20, 22, 21, 19],
    "score": [88, 92, 75, 95]
})

print("\nStudents DataFrame:")
print(students)

print("\nЖасы 20-дан жоғары:")
print(students[students["age"] > 20])

print("\nТек name және score:")
print(students[["name", "score"]])

print("\nЕң жоғары балл жинаған студент:")
top_student = students.loc[students["score"].idxmax()]
print(top_student["name"])


# ===============================
# 3. ИНДЕКСАЦИЯ
# ===============================

print("\niloc (3-жол, 2-баған):")
print(students.iloc[2, 1])

print("\nloc (аты Dias):")
print(students.loc[students["name"] == "Dias"])


# ===============================
# 4. ДӘРІЛЕР
# ===============================

drugs = pd.DataFrame({
    "drug": ["A", "B", "C", "D"],
    "price": [1200, 800, 600, 2000],
    "amount": [5, 10, 3, 8]
})

print("\n1000-нан қымбат:")
print(drugs[drugs["price"] > 1000])

print("\n600-800 аралығы:")
print(drugs[(drugs["price"] >= 600) & (drugs["price"] <= 800)])

print("\namount < 5:")
print(drugs[drugs["amount"] < 5])


# ===============================
# 5. GROUPBY (ҚЫЗМЕТКЕРЛЕР)
# ===============================

employees = pd.DataFrame({
    "name": ["Ayan", "Dana", "Miras", "Aida", "Timur"],
    "department": ["IT", "HR", "IT", "HR", "Sales"],
    "salary": [400000, 300000, 450000, 320000, 280000]
})

print("\nОрташа жалақы:")
print(employees.groupby("department")["salary"].mean())

print("\nҚызметкерлер саны:")
print(employees.groupby("department")["name"].count())

print("\nЕң жоғары жалақысы бар бөлім:")
print(employees.groupby("department")["salary"].mean().idxmax())


# ===============================
# 6. АГРЕГАТТАУ
# ===============================

print("\nMin және Max:")
print(employees.groupby("department")["salary"].agg(["min", "max"]))

print("\nSum:")
print(employees.groupby("department")["salary"].sum())


# ===============================
# 7. MERGE / JOIN / CONCAT
# ===============================

students_df = pd.DataFrame({
    "id": [1, 2, 3],
    "name": ["Aigerim", "Dias", "Ayan"]
})

scores_df = pd.DataFrame({
    "id": [1, 2, 3],
    "math": [88, 75, 95],
    "physics": [90, 80, 92]
})

print("\nMerge:")
merged = pd.merge(students_df, scores_df, on="id")
print(merged)

print("\nJoin:")
joined = students_df.set_index("id").join(scores_df.set_index("id"))
print(joined)

print("\nConcat екі рет:")
print(pd.concat([students_df, students_df]))

print("\nConcat axis=1:")
print(pd.concat([students_df, scores_df], axis=1))


# ===============================
# 8. ҚИЫНЫРАҚ ДЕҢГЕЙ
# ===============================

grades = pd.DataFrame({
    "student": ["Aigerim", "Dias", "Ayan"],
    "math": [88, 75, 95],
    "physics": [90, 80, 92],
    "history": [78, 85, 90]
})

print("\nЖалпы статистика:")
print(grades[["math", "physics", "history"]].agg(["min", "max", "mean", "median"]))

grades["avg"] = grades[["math", "physics", "history"]].mean(axis=1)

print("\nОрташа балымен:")
print(grades)

print("\nОрташа балы 85-тен жоғары:")
print(grades[grades["avg"] > 85])

Temperatures:
Алматы     5
Астана    -3
Шымкент    7
dtype: int64

Алматы температурасы:
5

0-ден жоғары қалалар:
Алматы     5
Шымкент    7
dtype: int64

Students DataFrame:
      name  age  score
0  Aigerim   20     88
1     Dias   22     92
2    Miras   21     75
3     Dana   19     95

Жасы 20-дан жоғары:
    name  age  score
1   Dias   22     92
2  Miras   21     75

Тек name және score:
      name  score
0  Aigerim     88
1     Dias     92
2    Miras     75
3     Dana     95

Ең жоғары балл жинаған студент:
Dana

iloc (3-жол, 2-баған):
21

loc (аты Dias):
   name  age  score
1  Dias   22     92

1000-нан қымбат:
  drug  price  amount
0    A   1200       5
3    D   2000       8

600-800 аралығы:
  drug  price  amount
1    B    800      10
2    C    600       3

amount < 5:
  drug  price  amount
2    C    600       3

Орташа жалақы:
department
HR       310000.0
IT       425000.0
Sales    280000.0
Name: salary, dtype: float64

Қызметкерлер саны:
department
HR       2
IT       2
Sales    1
Name: name, dtype: int64

Ең жоғары жалақысы бар бөлім:
IT

Min және Max:
               min     max
department
HR          300000  320000
IT          400000  450000
Sales       280000  280000

Sum:
department
HR       620000
IT       850000
Sales    280000
Name: salary, dtype: int64

Merge:
   id     name  math  physics
0   1  Aigerim    88       90
1   2     Dias    75       80
2   3     Ayan    95       92

Join:
       name  math  physics
id
1   Aigerim    88       90
2      Dias    75       80
3      Ayan    95       92

Concat екі рет:
   id     name
0   1  Aigerim
1   2     Dias
2   3     Ayan
0   1  Aigerim
1   2     Dias
2   3     Ayan

Concat axis=1:
   id     name  id  math  physics
0   1  Aigerim   1    88       90
1   2     Dias   2    75       80
2   3     Ayan   3    95       92

Жалпы статистика:
        math    physics    history
min     75.0  80.000000  78.000000
max     95.0  92.000000  90.000000
mean    86.0  87.333333  84.333333
median  88.0  90.000000  85.000000

Орташа балымен:
   student  math  physics  history        avg
0  Aigerim    88       90       78  85.333333
1     Dias    75       80       85  80.000000
2     Ayan    95       92       90  92.333333

Орташа балы 85-тен жоғары:
   student  math  physics  history        avg
0  Aigerim    88       90       78  85.333333
2     Ayan    95       92       90  92.333333